/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
body {
  display: flex;
  justify-content: center;
}

.whole {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: 150px 400px;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: 'Life Savers', serif;
  font-size: 50px;
  color: #2B4E80;
}

.dynamic-section {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #E6ECF4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question-form {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin-top: 15px;
}

.question-form input {
  border: none;
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  text-align: center;
}

.question-form button {
  border: none;
  background-color: #607AA0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 35px;
  margin-top: 5px;
}

.eight-ball img {
  height: 130px;
}

.response {
  text-align: center;
}

.hidden {
  display: none;
}

.question {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  margin: 5px;
}

.answer {
  font-family: 'Open Sans', sans-serif;
  margin: 5px;
}

.clear {
  align-self: flex-end;
}

.clear button {
  border: none;
  background-color: #D0CDCD;
  color: white;
  font-family: 'Open Sans', sans-serif;
  width: 55px;
  height: 30px;
  margin: 15px;
}

.woody {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
}

.woody img {
  height: 400px;
  width: auto;
}
